<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	  http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="AirportLocationDAO"
		class="aop.dao.mock.AirportLocationDAOImpl" />
	<bean id="DVDInfoDAO" class="aop.dao.mock.DVDInfoDAOImpl" />
	<bean id="DVDLocationDAO" class="aop.dao.mock.DVDLocationDAOImpl" />
	<bean id="LoanDAO" class="aop.dao.mock.LoanDAOImpl" />
	<bean id="MemberDAO" class="aop.dao.mock.MemberDAOImpl" />


	<bean id="KioskService" class="aop.bo.KioskServiceImpl">
		<constructor-arg>
			<bean factory-bean="AirportLocationDAO"
				factory-method="getLocationByID">
				<constructor-arg>
					<value>BUR-2</value>
				</constructor-arg>
			</bean>
		</constructor-arg>
		<property name="dvdInfoDAO" ref="DVDInfoDAO" />
		<property name="dvdLocationDAO" ref="DVDLocationDAO" />
		<property name="loanDAO" ref="LoanDAO" />
		<property name="memberDAO" ref="MemberDAO" />
	</bean>
	
	<bean id="beforeAfterLoggingAdvice" class="aop.advices.BeforeAfterLoggingAdvice" />
	
	<bean id="BeforeAfterLoggingAutoProxy" 
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator" >
		<property name="beanNames" value="KioskService,MemberDAO" />
		<property name="interceptorNames">
			<list>
				<value>beforeAfterLoggingAdvice</value>
			</list>
		</property>
	</bean>

</beans>
